# create 2 .env files, .env and .env.test
# ─────────────────────────────────────────
# Database
# ─────────────────────────────────────────
DATABASE_URL=postgresql://<user>:<password>@localhost:5432/version_ops?schema=public

# ─────────────────────────────────────────
# App
# ─────────────────────────────────────────
PORT=3333
FRONTEND_URL=http://localhost:8080
ALLOWED_ORIGINS=http://localhost:8080
NODE_ENV=development

# ─────────────────────────────────────────
# Admin Auth
# ─────────────────────────────────────────
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ustaadji
JWT_SECRET=jwtsecret
JWT_EXPIRES_IN=8h


LOG_LEVEL=info
