# create 2 .env files, .env and .env.test
# ─────────────────────────────────────────
# Database
# ─────────────────────────────────────────
DATABASE_URL=postgresql://<user>:<password>@localhost:5432/version_ops?schema=public

# ─────────────────────────────────────────
# App
# ─────────────────────────────────────────
PORT=3333
FRONTEND_URL=http://localhost:8080
ALLOWED_ORIGINS=http://localhost:8080
NODE_ENV=development

# ─────────────────────────────────────────
# Admin Auth
# ─────────────────────────────────────────

JWT_ACCESS_SECRET=jwtsecret
JWT_ACCESS_EXPIRES_IN=1d

AUTH_COOKIE_NAME=access_token
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAMESITE=lax
AUTH_COOKIE_PATH=/
AUTH_ADMIN_SECRET=secret

SUPER_ADMIN_EMAIL=admin
SUPER_ADMIN_PASSWORD=**********  
SUPER_ADMIN_NAME=Ustaad JI


LOG_LEVEL=info
